<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory game</title>
    <script type="text/javascript" src="static/game.js" async></script>
    <link rel="stylesheet" href="static/cssfile.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
</head>
<body>
<div class="board">
    <h1> Memory game</h1>
    <table>
        {% for y in range (y_length) %}
        <tr>
            {% for x in range (x_length) %}
            <td>
                <button class="card"><i class="fa fa-times-rectangle"></i></button>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>