<!DOCTYPE html>
<html lang="en">
<head>
    <title> Memory game </title>
</head>
<body>
<form action={{ url_for('game') }} method="POST">
<select id="X" name="X" required>
    <option selected="true"
            value="Please select a number"
            disabled="disabled">Please select a number
    </option>
    {% for i in range(1,9) %}
    <option value={{ i }}> {{ i }}</option>
    {% endfor %}
</select>
<select id="Y" name="Y" required>
    <option selected="true"
            value="Please select a number"
            disabled="disabled"> Please select a number
    </option>
    {% for i in range(2,9,2) %}
    <option value={{ i }}> {{ i }}</option>
    {% endfor %}
</select>
<input type="submit" value="Play" id="Play">
</form>
</body>
</html>